@charset "utf-8";

/* CSS reset */
body,input,textarea,div,a,table,tr,td,th{ font-family: Microsoft YaHei, Geneva, "sans-serif", SimSun;font-size: 12px; }
body{color: #333;}
body,div,dl,dt,dd,ul,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin: 0; padding: 0;}
table { border-collapse: collapse;border-spacing: 0; }
fieldset,img { border: 0;}
a { color: #333; text-decoration: none;}
a:hover { color: #3eb2e6;}
abbr,acrnym { border: 0;}
input::-ms-clear{ display:none }    /*输入框的小叉叉图标消失*/
*:focus { outline: none; }/* 去掉输入框点击时的边框 */

/*系统全局功能*/
.textEllipsis {width: 99%;overflow: hidden;display: block;white-space: nowrap;text-overflow: ellipsis;}
.clr {clear: both}
.clearfloat {zoom: 1;}
/*@清除浮动 */
.clearfloat:after{display: block;content: 'clear';clear: both;line-height: 0;visibility: hidden;}

/** tb_noborder 取消表格和单元格的边线 **/
.tb_noborder{background-color: #FFFFFF;margin: 0 auto;border-collapse: collapse;padding: 0px;border: 0px;}
.tb_noborder>tbody>tr>td {padding: 0px;border: 0px;}
.hide{
    display:none;
}



/*************当前主题***************/
@charset "utf-8";

/* CSS reset */
body,input,textarea,div,a,table,tr,td,th{ font-family: Microsoft YaHei, Geneva, "sans-serif", SimSun;font-size: 12px; }
body{color: #333;}
body,div,dl,dt,dd,ul,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin: 0; padding: 0;}
li{ list-style:none; }
table { border-collapse: collapse;border-spacing: 0; }
fieldset,img { border: 0;}
a { color: #333; text-decoration: none;}
a:hover { color: #3eb2e6;}
abbr,acrnym { border: 0;}
input::-ms-clear{ display:none }    /*输入框的小叉叉图标消失*/
*:focus { outline: none; }/* 去掉输入框点击时的边框 */

/*系统全局功能*/
.textEllipsis {width: 99%;overflow: hidden;display: block;white-space: nowrap;text-overflow: ellipsis;}
.clr {clear: both}
.clearfloat {zoom: 1;}
/*@清除浮动 */
